paas/.vs/PicShare_AzureDemo/v15/sqlite3/storage.ide
paas/PicShare_AzureDemo/bin/
paas/PicShare_AzureDemo/obj/
paas/PicShare_AzureDemo/wwwroot/images/pics/
paas/PicShare_AzureDemo/wwwroot/lib/
.vscode/
